:root {
    --color-dropdown-hover: rgb(245, 245, 245);
}

.dropdown-selected {
    background-color: var(--color-dropdown-hover);
}

.dropdown-btn {
    width: 100%;
    padding: 15px 15px 15px 20px;
    border-left: 10px solid transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-btn:hover {
    cursor: pointer;
    background-color: var(--color-dropdown-hover);
    border-left: 10px solid var(--color-dark);
}

.dropdown-btn i {
    font-size: 1.8rem;
    margin-right: 10px;
}

.dropdown-btn__title {
    font-size: 2rem;
}

.dropdown-btn__icon {
    font-size: 1.8rem;
    margin-left: auto;
}

.dropdown-content {
    margin-left: 40px;
    border-left: 3px solid var(--color-gray-dark);
    padding-bottom: 10px;
}


.dropdown-content__input-form {
    padding-left: 30px;
    margin: 0 15px 15px 0;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.dropdown-content__input-form .input-form__input {
    background-color: transparent;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    margin-right: 10px;
    padding: 7px 5px 5px 5px;
    flex: 1;
    border: none;
    border-bottom: 2px solid var(--color-gray-dark);
    max-width: 80%;
}

.dropdown-content__input-form .input-form__button {
    background-color: var(--color-dropdown-hover);
    color: var(--color-darkest);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    min-width: 30px;
    width: 30px;
    min-height: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.dropdown-content__input-form .input-form__button:hover {
    cursor: pointer;
    filter: brightness(90%);
}