.dropdown-content__inner {
    display: flex;
    position: relative;
}

.dropdown-content__inner:hover .dropdown-content__button,
.dropdown-content__inner:hover .dropdown-content__options {
    cursor: pointer;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.dropdown-content__button {
    background-color: var(--color-dropdown-hover);
    color: var(--color-gray-darkest);
    padding: 10px 10px 10px 30px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-content__button--icon {
    font-size: 1.6rem;
    margin-right: 10px;
}

.dropdown-content__button--text {
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 120px;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dropdown-content__button--text::-webkit-scrollbar {
    display: none;
}

.dropdown-content__options {
    background-color: var(--color-dropdown-hover);
    color: var(--color-gray-darkest);
    padding: 0 30px;
}