:root {
    --color-dropdown-hover: rgb(245, 245, 245);
}

.dropdown-selected {
    background-color: var(--color-dropdown-hover);
}

.dropdown-btn {
    width: 100%;
    padding: 15px 15px 15px 20px;
    border-left: 10px solid transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-btn:hover {
    cursor: pointer;
    background-color: var(--color-dropdown-hover);
    border-left: 10px solid var(--color-dark);
}

.dropdown-btn i {
    font-size: 1.8rem;
    margin-right: 10px;
}

.dropdown-btn__title {
    font-size: 2rem;
}

.dropdown-btn__icon {
    font-size: 1.8rem;
    margin-left: auto;
}

.dropdown-content {
    margin-left: 40px;
    border-left: 3px solid var(--color-gray-dark);
    padding-bottom: 10px;
}