/* List Item */
.list-item {
    /* background-color: red; */
    width: 100%;
    /* min-height: 200px; */
    margin-bottom: 20px;
    /* padding: 20px 10px; */
    border-top: 3px solid var(--color-gray-darkest);
}

.list-item:last-child {
    margin-bottom: 0;
}

.list-item__button {
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-item__title {
    font-size: 2rem;
    margin-bottom: 5px;
    text-align: left;
}

.list-item__info {
    color: var(--color-gray-darkest);
    font-size: 1.6rem;
    font-weight: 100;
}

.list-item__description {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: left;
    margin: 15px 0;
}

.list-item__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 20px 10px;
}

.list-item__tag {
    color: rgb(251, 113, 226);
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.list-item__comments-btn {
    color: var(--color-gray-darkest);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
}

.list-item__comments-btn i {
    margin-right: 10px;
}



.list-item:hover {
    background-color: var(--color-primary-light);
    border-top: 3px solid var(--color-primary);
}

.list--to-do .list-item:hover {
    background-color: var(--color-primary-light);
    border-top: 3px solid var(--color-primary);
}

.list--in-progress .list-item:hover {
    background-color: var(--color-yellow-light);
    border-top: 3px solid var(--color-yellow);
}

.list--complete .list-item:hover {
    background-color: var(--color-green-light);
    border-top: 3px solid var(--color-green);
}


.list--in-progress .list-item__tag {
    color: var(--color-yellow);
    filter: brightness(90%);
}

.list--complete .list-item__tag {
    color: var(--color-green);
    filter: brightness(90%);
}