.nav {
    height: 150px;
    padding: 0 50px 0 0;
}

.nav .inner {
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 300px;
    border-right: 1px solid var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--icon {
    background-color: var(--color-dark);
    width: 50px;
    height: 50px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--icon i {
    color: var(--color-light);
    font-size: 30px;
}

.nav__logo--text {
    color: var(--color-dark);
    font-size: 50px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .nav {
        height: 80px;
        padding: 0 20px;
    }

    .nav__logo--icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .nav__logo--icon i {
        font-size: 24px;
    }

    .nav__logo--text {
        font-size: 40px;
    }
}